{% for item in site.data.starters %}
<div class="plugin">
    <p><strong>{{ attribute(item, 'name') }}</strong></p>
    <p>{{ attribute(item, 'text') }}</p>
    <table>
        {% if item.id %}
            <tr>
                <td>Autor</td>
                <td>{{ attribute(item, 'author') }}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>{{ attribute(item, 'version') }}</td>
            </tr>
            <tr>
                <td style="white-space:nowrap">Composer</td>
                <td>"{{ item.id }}": "{{ item.version }}"</td>
            </tr>
        {% endif %}
    </table>
    {% if item.id %}
        <p class="links">
            <a class="pure-button button-small" target="_blank" href="https://github.com/{{ item.id }}"><i class="fa fa-github"></i> GitHub</a>
            <a class="pure-button button-small" target="_blank" href="https://packagist.org/packages/{{ item.id}}"><i class="fa fa-archive"></i> Packagist</a>
        </p>
    {% endif %}
</div>
{% endfor %}
